.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #102e4a;
  color: #55c1ff;
}

.header-nav {
  display: flex;
  gap: 30px;
}

.header-nav-link {
  text-decoration: none;
  color: #55c1ff;
  font-size: 1.2rem;
  font-weight: bold;
  transition: opacity 0.2s ease-in;
}

.header-nav-link:hover {
  opacity: 0.7;
}
