.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #a682ff;
  color: #102e4a;
}

.header-nav {
  display: flex;
  gap: 30px;
}

.header-nav-link {
  text-decoration: none;
  color: #102e4a;
  font-size: 1.2rem;
  font-weight: bold;
}
