.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.pizza-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizza-card-img {
  width: 100%;
}

.pizza-card-ingredients {
  text-align: center;
}
